$black: #000;
$gray: gray;
$light-gray: rgb(228, 228, 228);
$icon-gray: rgb(151, 151, 151);
$border-gray: rgb(221, 221, 221);
$hero-red: rgb(148, 36, 51);
$newsletter-red: rgb(255, 115, 115);

$radius: 10px;
$shadow: 0px 0px 3px 4px $border-gray;
