* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: $black;
}

p {
  line-height: 22px;
}
